%table.table.table-striped.table-bordered
  = render partial: 'version_table_header'
  - versions.each do |version|
    = render partial: 'version_table_row', locals: { tool: tool, version: version }
