.jumbotron
  .container
    %h1.text-center Tool Buddy
    %h2.text-center Your Tool Install Homie

.container
  .panel-group#accordion{role: 'tablist',  'aria-multiselectable' => 'true'}
    - @tools.each do |tool|
      = render partial: 'single_tool', locals: {tool: tool}
